# Ignore node_modules
node_modules

# Ignore build output
dist

# Ignore environment files
.env
.env.*

# Ignore logs
logs
*.log

# Ignore Docker-related files
Dockerfile
docker-compose.yml
docker-compose.override.yml

# Ignore IDE/editor config files
.idea
.vscode
*.swp

# Ignore temporary files
*.tmp
*.temp
*.pid
*.seed
*.pid.lock

# Ignore coverage reports
coverage

# Ignore OS-specific files
.DS_Store
Thumbs.db